

body {
  padding-bottom: 40px;
  color: #5a5a5a;

}

/*start of nav style*/
.navbarClr{
  background-color: #2a586e;
}
.navbar-wrapper {
  position: absolute;
  top: 0;
  right: 0;
  left: 0;
  z-index: 20;
}
.carousel-control{
  background-color:;
}
.navbar-wrapper > .container {
  padding-right: 0;
  padding-left: 0;
}
.navbar-wrapper .navbar {
  padding-right: 15px;
  padding-left: 15px;
}
.navbar-wrapper .navbar .container {
  width: auto;
}
.navBtn{
  width: 7em;
  height: 3em;
  background: none;
  border: none;
  margin: -11px -11px;
  margin-right: -35px;
  color: #18252b;
  font-weight: bold;
  font-size: 2em;
  font-family: 'Alegreya', serif;
}
.navIcon{
  height: 2em;
  width: 2em;
}
#contactBody{
  display: flex;
  flex-direction: column;
}
.contactInfo{
  font-size: 2em;
  font-weight: bold;
  margin-right: 50px;
}
#brand{
  margin-top: 6px;
  margin-bottom: 6px;

  color: #18252b;
  width: 100px;
  height: 53px;
  padding-top: 5px;
  padding-left: 5px;
  font-family: 'Alegreya', serif;

  font-size: 15px;
}
#giphyFun{
  margin-left: 10em;
  margin-top: 1em;
  width: 300px;
  display: inline-block;
}
.giphyInput{
  display: inline-block;
  width: 226px;
}
.btn{
  color: #18252b;
  background-color: #b68852;
}
iframe{
  transform: scale(.25, .25);
  transform-origin: top left;
}
#resumePic{
  height: 50em;
  width: 41em;
  /*background-image: url('resume.jpg');
  background-repeat: no-repeat;
  background-position: center;
  background-size: 100%;*/
}
.modal-footer{
  margin-top: 15px;
}

/*end of nav style*/


/*start of carousel style*/
#myCarousel{
  z-index: 1;
  background: linear-gradient(to bottom, #07212d , #153545);
  font-family: 'Alegreya', serif;
}

.carousel-caption {
  z-index: 10;
}

.carousel {
  height: 500px;
  background-color: #777;
}
#pitchBox{
  height: 20em;
  width: 50em;
  background-color: #2a586e;
  margin: auto;
  border: solid #b68852 10px;
  border-radius: 50px;
}
#pitchText{
  padding-top: 2em;
  padding-left: .5em;
  padding-right: .5em;

}
.item {
  height: 500px;
}
.carImg{
  height: 20em;
  width: 25em ;
  margin-left: -30px;
  border: solid #b68852 2px;
  border-radius: 6%;
}
#levi{
  width: 15em;
}
#lex{
  width: 25em;
}
#football{
  margin-left:0px;
}
#results{

}
/*end of carousel style*/


/*start of body styling*/
#proXp {
  margin-left: -800px;
}
#proPic{
  position: relative;
  margin-left: 750px;
  margin-top: -1070px;
  height: 30em;
  width: 20em;
}
#sunPic{
  width: 30em;
  height: 30em;
}

.featurette-divider {
  margin: 50px 0;
}
#midDivider{
  margin-top: 120px;
}

.featurette-heading {
  font-weight: 300;
  line-height: 1;
  letter-spacing: -1px;
}

/*end of body styling*/


footer{
  margin-top: -20px;
}

@media (min-width: 768px) {
  .navbar-wrapper {
    margin-top: 20px;
  }
  .navbar-wrapper .container {
    padding-right: 15px;
    padding-left: 15px;
  }
  .navbar-wrapper .navbar {
    padding-right: 0;
    padding-left: 0;
  }

  .navbar-wrapper .navbar {
    border-radius: 4px;
  }


  .carousel-caption p {
    margin-bottom: 20px;
    font-size: 21px;
    line-height: 1.4;
  }

  .featurette-heading {
    font-size: 50px;
  }
}

@media (min-width: 992px) {
  .featurette-heading {
    margin-top: 120px;
  }
}
